body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e2f;
  color: #fff;
}

/* HUD TOPO */
.hud-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222244;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  box
