body {
  background: #0f172a;
  font-family: Arial, sans-serif;
  color: #fff;
}

.container {
  width: 320px;
  margin: 100px auto;
  padding: 20px;
  background: #020617;
  border-radius: 10px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #22c55e;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background: #555;
  cursor: not-allowed;
}

#msg {
  margin-top: 15px;
}

#timer {
  margin-top: 10px;
  color: #38bdf8;
  }
